---
import { Image } from "astro:assets";
---

<a href="https://peerlist.io/debajyati/project/lsum" target="_blank" rel="noreferrer">
  <Image
    src="https://peerlist.io/api/v1/projects/embed/PRJHBAR7E6GK7GJJPFPKNQA8JEBBLL?showUpvote=true&theme=white"
    alt="lsum"
    decoding="sync"
    loading="eager"
    width="296px" height="72px"
  />
</a>
